<div class="modal fade" id="modalVerCliente" tabindex="-1" aria-labelledby="modalVerClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerClienteLabel">
                    <i class="fa-solid fa-eye me-2"></i>Detalle del Cliente
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label fw-semibold">ID del cliente</label>
                        <div class="form-control bg-light" id="verClienteId">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Estado</label>
                        <div class="form-control bg-light" id="verClienteEstado">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Nombre</label>
                        <div class="form-control bg-light" id="verClienteNombre">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Correo</label>
                        <div class="form-control bg-light" id="verClienteCorreo">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Teléfono</label>
                        <div class="form-control bg-light" id="verClienteTelefono">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Empresa</label>
                        <div class="form-control bg-light" id="verClienteEmpresa">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Identificación</label>
                        <div class="form-control bg-light" id="verClienteIdentificacion">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Dirección</label>
                        <div class="form-control bg-light" id="verClienteDireccion">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Creado por</label>
                        <div class="form-control bg-light" id="verClienteCreadoPor">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Fecha de creación</label>
                        <div class="form-control bg-light" id="verClienteFechaCreacion">-</div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-semibold">Última actualización</label>
                        <div class="form-control bg-light" id="verClienteFechaActualizacion">-</div>
                    </div>

                    <div class="col-12">
                        <label class="form-label fw-semibold">Notas</label>
                        <textarea class="form-control bg-light" id="verClienteNotas" rows="5" readonly></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>